body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(158, 81, 221);
    line-height: 20px;
    margin: 0 auto;
}
.header{
    background-color: #542872;
    height: 80px;
    margin: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul li a{
    color: #fff;
    letter-spacing: 0.1rem;
}
ul li a:hover{
    color: #ffd358;
    text-decoration: underline;
}
.menu li{
    float: left;
    padding: 35px;
}
.menu li a{
    text-decoration: none;
}

input[type="search"]{
    font-size: 17px;
}