body{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    width: 100%;
    background-color: #424558;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
}

.menu-accueil:hover{
    border-top: 5px solid #c90eee;
    background-color: RGBa(238, 130, 238, 0.15);
}
.menu-presentation:hover{
    border-top: 5px solid #c90eee;
    background-color: RGBa(238, 130, 238, 0.15);
}
.menu-reseaux:hover{
    border-top: 5px solid #c90eee;
    background-color: RGBa(238, 130, 238, 0.15);
}
.menu-joueurs:hover{
    border-top: 5px solid #c90eee;
    background-color: RGBa(238, 130, 238, 0.15);
}
.menu-rosters:hover{
    border-top: 5px solid #c90eee;
    background-color: RGBa(238, 130, 238, 0.15);
}
.menu-recrutements:hover{
    border-top: 5px solid #c90eee;
    background-color: RGBa(238, 130, 238, 0.15);
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

.table{
    display: table;
    margin: 0 auto;
}